.header {
    width: 100%;
    height: 20vh;
    background-color: #364f6b;
    text-align: center;
    color: #eee;
    font-weight: normal;
    padding-top: 2em;
    position: relative;
}

.input {
    position: absolute;
    top: 80%;
    left: 5%;
    width: 90vw;
    z-index: 1;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 9px -5px rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    padding: 10px;
}

input[type="text"]{
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 10px 15px;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.suggestions {
    position: absolute;
    width: 90%;
    background-color: #fff;
    top: 132%;
    left: 5%;
    z-index: 5;
    
}

.suggestion {
    color: black;  
    cursor: pointer; 
    padding: 5px;
}

.suggestion:hover {
    background-color: rgba(204, 204, 204, 0.349);
}

.results {
    width: 90%;
    margin-top: 7rem;
    background-color: #fff;
    padding: 1.5em;
    margin-left: 5%;
    box-shadow: 0 5px 9px -5px rgb(0 0 0 / 50%);
}

.word {
    text-transform: capitalize;
}
.style {
    margin-top: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(180, 178, 178, 0.5);
}
